@mixin general-buttons {
    position: relative;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    z-index: 1;
}

@mixin btn {
    padding: 1rem;
    
}