@use '../abstract' as a;

@mixin general-buttons {
    position: relative;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    z-index: 1;
}

@mixin clear-btn {
    border: 1px solid a.$white-color;
    padding: 0.5rem;
    color: a.$white-color;
    background-color: a.$btn-clear-color;
    cursor: pointer;
}
