@use '../abstract' as a;

@mixin store-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    border-radius: 7px;
}

@mixin footer-logo {
    background-image: a.$white-logo;
    background-position: center;
    background-size: cover;
    max-width: 150px;
    height: 75px;
}

@mixin insta-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin contact-bg-img {
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
    display: flex;
    border-radius: 5px;
    box-shadow: a.$boxshadow;
    margin-top: 0;
    color: a.$white-color;
    text-align: left;
}