@use '../abstract' as a;
@use '../base' as b;
@use '../abstract/variables' as v;
@use '../base/buttons' as btn; //jag prövade @include b.clear-btn mend et fungerade inte.

*{
    margin: 0;
    padding: 0;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Roboto Flex', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Playfair Display', serif;
    font-family: 'Lora', serif;
}

.mainCheckout{
    //align-items: center;
    position: relative;
    @include b.x-large{ 
      max-width: 1100px;
      display: flex;
      flex-direction: column;
      margin-left: auto ;
      margin-right: auto;
      top: 80px;
      margin-bottom: 200px;
      //background-color: lightgrey; 
      overflow:hidden;
    }

    &__title{
        color: a.$ourGrey;
        margin: 17px;
        margin-left: 0;
        font-size: 17px;
    }

    &__steps{
        width: 100%;
        background-color: a.$lightGrey;
        align-items: center;
        display: flex;
        //border: 1px solid black;

        @include b.x-large{
          padding-left: 45px;
          font-size: .95em;  
          height: 50px;
        }
    }

    &__info{
        
        @include b.x-large{
            word-spacing: 170px;
            margin-top: 25px;
            padding-bottom: 11px;
            border-bottom: a.$border;

        a{
            margin-left: 135px;
            margin-right: 135px;
        }

        }
        

    }

    &__newProduct{
        height: 100px;
        width: 100%;
        background-color: white;
        border-bottom: a.$border;
    }

    &__totalPrice{
        //background-color: red;
        height: 300px;
        width: 400px;
       // padding-top: 40px;
       
    } 
    

  }

  .billingParent{
    display: flex;
    gap: 20px;
    


    &__billingInfo{
        width: 540px;
        overflow:hidden;
        gap: 13.5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        

        &__smallInput{
            //background-color: blue;
            width: 260px;
        }

        &__wideInput{
            //background-color: red;
            width: 100%;
        }
    }


  }