@use '../abstract' as a;
@use '../base' as b;
@use '../abstract/variables' as v;
@use '../base/buttons' as btn; //jag prövade @include b.clear-btn mend et fungerade inte.

*{
    margin: 0;
    padding: 0;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Roboto Flex', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Playfair Display', serif;
    font-family: 'Lora', serif;
}

.mainCheckout{
    //align-items: center;
    position: relative;
    top: 23vw;
    max-width: 80vw;
    display: flex;
      flex-direction: column;
      margin-left: auto ;
      margin-right: auto;
      padding-bottom: 40vw;
     
     // margin-bottom: 20vw;

    @include b.x-large{ 
      max-width: 1100px;
      top: 80px;
      padding-bottom: 200px;
      //background-color: lightgrey; 
      
    }

    &__title{
        color: a.$ourGrey;
        font-size: 3vw;
        margin-bottom: 4vw;
        
        @include b.x-large{
            font-size: 17px;
            margin: 17px;
        }
    }

    &__steps{
        width: 100%;
        background-color: a.$lightGrey;
        align-items: center;
        display: flex;
        height: 11vw;
        padding-left: 9vw;
        font-size: 3.7vw;
        box-sizing: border-box;

        //border: 1px solid black;

        @include b.x-large{
          padding-left: 45px;
          font-size: .95em;  
          height: 50px;
        }
    }

    &__info{

        display: none;
        
        @include b.x-large{
            word-spacing: 170px;
            margin-top: 25px;
            padding-bottom: 11px;
            border-bottom: a.$border;
            display: block;

        a{
            margin-left: 135px;
            margin-right: 135px;
        }

        }
        

    }

    &__productContainer{
        width: 100%;
        margin-bottom: 6vw;
       // background-color: aqua;
       @include b.x-large{
        margin-bottom: 0;
       }
        
    }

    &__newProduct{
        
        width: 100%;
        background-color: white;
        height: 25vw;
        border: a.$border;
        box-sizing: border-box;
        margin-top: 5vw;
        
        
        @include b.x-large{
            height: 100px;
            border: 0;
            border-bottom: a.$border;
            margin-top: 0;
        }
    }

    &__priceContainer{

        width: 100%;
        
        //background-color: aqua;
        display: flex;
        text-align: right;
        box-sizing: border-box;
        justify-content: space-between;
        font-size: 4.5vw; 

        @include b.x-large{
            height:200px;
            font-size: 20px;
            justify-content: end;
        }

        &__totalPrice{
        //background-color: rgb(240, 240, 240);
        height: 100%;
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        text-align: left;
        box-sizing: border-box;
        gap: 3.5vw;
        @include b.x-large{
            width: 200px;
            padding: 45px;
            margin-right: 45px;
            gap: 15px;
            
        }

        b{
            font-size: 5vw;
            @include b.x-large{
                 margin-top: 5px;
                 font-size: 23px;
            }
           
        }


       &__number{
       // background-color: turquoise;
       height: 100%;
       display: flex;
       flex-direction: column;///////////////////////////////////////////////////////////////////////////
       white-space: nowrap;
       box-sizing: border-box;
       gap: 3.5vw;
       font-size: 4.5vw;
       @include b.x-large{
         width: 200px;
         padding: 45px;
         padding-bottom: 0px;
         gap: 15px;
         font-size: 20px;
       }

       b{
        font-size: 5vw;
            @include b.x-large{
                 margin-top: 5px;
                 font-size: 23px;
            }
       }

       }
       
    } 

    }

    
    

  

  .billingParent{
    display: flex;
    flex-direction: column;
    @include b.x-large{
        gap: 20px; 
        flex-direction: row;
    } 
    


    &__tbxContainer{
       // background-color: aqua;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1vw;
        color: a.$ourGrey;
        font-size: 4.7vw;
        @include b.x-large{
            width: 260px;
            gap: 5px;
            font-size: medium;
        }

        &__wide{
            width: 100%;
            display: flex;
            flex-direction: column; 
             color: a.$ourGrey;
             gap: 1vw;
             font-size: 4.7vw;
             
            //background-color: red; 
            @include b.x-large{
                gap:5px;
                font-size: medium;

            }
            

        }

    }
    


    &__billingInfo{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
         @include b.x-large{
        flex-direction: row;
         width: 540px;
         column-gap: 20px; 
         row-gap: 15px;
        }
        

        &__input{
            //background-color: blue;
            width: 100%;
            box-sizing: border-box;
            height: 10vw;
            font-size: 5vw;
            margin-bottom: 4vw;
            @include b.x-large{
                height: 2em;
                font-size: large;
                margin-bottom: 0px;

            }
            
        }

    }

    .billingParent__billingInfo > .mainCheckout__steps{

        margin-bottom: 5vw;
        margin-top: 7.9vw;
        
        
        @include b.x-large{
            margin-bottom: 18px;
            margin-top: 0px;
        }
    }

}

&__button{
    display:flex;
    width: 100%;
    justify-content: center;
    margin-top: 10vw;
    
    @include b.x-large{
        margin-top: 60px;
    }
    

    button{
        background-color: a.$ourGrey;
        color:white;
        width: 53vw;
        padding: 5vw;
        border: 0;
        font-size: 3.7vw;
        
        @include b.x-large{
         padding: 20px;
         width: 200px;
         font-size: medium;
        }
    }
}


}