@use '../abstract' as a;
@use '../base' as b;
@use '../base/buttons' as btn;

*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &__img{
        height: 400px;
        background-image: a.$image-bg-color, a.$headerIMG;
        background-size: cover;
        background-position: center;
        color: a.$white-color;
        display: flex;
        flex-direction: column;
        text-align: center;

        @include b.x-large{
          height: 850px;
          position: relative; 
          display: flex;
      }
       
        h1{
          z-index: 1; 
          margin-top: 140px; 
          font-size: a.$h1-font-mobile;

          @include b.x-large{
            font-size: a.$h1-font-desktop;
            margin-top: 250px;
          }
        }

        p{
          z-index: 1;
          font-size: a.$p-font-mobile-h; 
          margin: 1rem;

          @include b.x-large{
            font-size: a.$p-font-desktop-h;
            white-space: pre-line;
            margin: 3rem;
          }
        }
    }

    &__btn{
      top: 70%;
      margin-left: 50%;
      transform: translateX(-50%);
      position: absolute;
      z-index: 1;
      @include btn.clear-btn;

      @include b.x-large{
        top: 75%;
        font-size: a.$btn-font-header;
        width: 275px;
        height: 75px;
      }
      &:hover{
        background-color: #CDB277;
        border: #CDB277;
      }
    }
}

.prodCategory{
  max-width: a.$container-width;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: a.$top-margin;
  color: a.$ourGrey;

  @include b.x-large{
    margin: a.$container-margin auto;
  }

  &__title{   
    font-size: a.$h2-font-mobile;

    @include b.x-large{
      font-size: a.$h2-font-desktop;
    }
  }
}

.sectionprod{
    margin-top: a.$section-top-margin;
    display: flex;
    flex-wrap: wrap; 
    gap: a.$gap-mobile;
    width: 100%;
    justify-content: center;

    @include b.x-large{
      gap: a.$gap-desktop;
      flex-wrap: nowrap;
      margin-top: a.$top-margin;
    }

    &__ring{
      height: 50vw;
      width: 40vw;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      box-shadow: a.$boxshadow;
      border-radius: 5px;

      @include b.x-large {
        height: 350px;
        width: 250px; ;
        background-size: 90%;
        background-repeat: no-repeat;
      } 

      h4{
        position: absolute;
        margin-top: 10px;
        font-size: a.$h4-font-mobile;
  
        @include b.x-large{
          margin-top: 40px;
          font-size: a.$h4-font-desktop;
        }
      } 

      button{  
        width: 100px;
        height: 30px;
        top: 80%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @include btn.gold-btn;

        @include b.x-large{
          font-size: a.$btn-font-desktop;
          width: 70%;
          height: 15%;
        }
        &:hover{
          background-color: a.$gold-light-rgba;
          border: a.$gold-light-rgba;
        }
      }  
    }

      div[alt*="halo"] {
        background-image: a.$haloRing;
      }
      
      div[alt*="sido"] {
        background-image: a.$sidoRing;
      }

      div[alt*="soli"] {
        background-image: a.$soliRing;
      }

      div[alt*="tre"] {
        background-image: a.$treRing;
      }   
}


.diamonds{
  max-width: a.$container-width;
  margin-top: a.$top-margin;
  color: a.$ourGrey;

  @include b.x-large{
    margin: a.$container-margin auto;
  }

  &__title{
    display: flex;
    justify-content: center;
    font-size: a.$h2-font-mobile;

    @include b.x-large{
      font-size: a.$h2-font-desktop;
    }
  }

  &__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: a.$gap-mobile;
    margin-top: a.$section-top-margin;

    @include b.x-large{
      flex-direction: row;
      gap: a.$gap-desktop;
      margin-top: a.$top-margin;
    }
  }

  &__choose{
    box-shadow: a.$boxshadow;
    height: 120px;
    width: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include b.x-large{
      width: 550px;
      height: 300px;
    }
  }

  &__btn{
    @include btn.clear-btn;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include b.x-large{
      font-size: a.$btn-font-desktop;
      width: 40%;
      height: 20%;
    }
    &:hover{
      background-color: a.$gold-btn-rgba;
      border: a.$gold-btn-rgba;
    }
  }
  
  div[alt*="NatDiamond"] {
    background-image: a.$image-bg-color, a.$natDiamond;
  }

  div[alt*="LabDiamond"] {
    background-image: a.$image-bg-color, a.$labDiamond;
  }
}

.choose-ring{
  max-width: a.$container-width;
  margin: 0 auto;
  color: a.$white-color;
  margin-top: a.$top-margin;
  display: flex;
  justify-content: center;

  @include b.x-large{
    margin: a.$container-margin auto;
  }

  &__container{
    background-image: a.$image-bg-color, a.$tips;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: a.$gap-mobile;
    text-align: center;
    border-radius: 5px;
    box-shadow: a.$boxshadow;
    
    @include b.x-large{
      height: 450px;
      width: 100%;
      gap: 60px;
    }

    h3{
      margin-top: a.$section-top-margin;
      font-size: a.$h3-font-mobile;

      @include b.x-large{
        font-size: a.$h3-font-desktop;
      }
    }

    p{
      font-size: a.$p-font-mobile;
      width: 80%;

      @include b.x-large{
        width: 50%;
        font-size: a.$p-font-desktop;
      }
    }
  }

  &__btn{
    @include btn.clear-btn;
    width: 130px;
    height: 40px;
    
    &:hover{
      background-color: a.$gold-btn-rgba;
      border: a.$gold-btn-rgba;
    }

    @include b.x-large{
      width: 250px;
      height: 60px;
      font-size: a.$btn-font-desktop;
    }
  }
}