@use '../abstract' as a;
@use '../base' as b;
@use '../abstract/variables' as v;

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
}
.mainContainer{
  text-align: center;
  align-items: center;
}
.header{
    width: 100%;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &__img{
        height: 130vw;
        background-image: a.$headerIMG;
        background-size: cover;
        background-position: 50%;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
       
       
        

        h1{
          z-index: 1; 
          margin-bottom: -5px;
          margin-top: 35%; 
          font-size: 7.5vw;
          @include b.x-large{
            font-size: 4rem;
            margin-top: 300px;
            margin-bottom: -20px;
          }
        }

        h3{
          z-index: 1;
          font-size: 4.5vw; 
          @include b.x-large{
            font-size: 2.5rem;
            white-space: pre-line;
          }
        }

        @include b.x-large{
            background-image: a.$headerIMGdesktop;
            height: 900px;
            position: relative; 
            
            display: flex;
            //justify-content: cente
        }


        button{
          padding: 1rem;
          top: 70%;
          margin-left: 50%;
          transform: translateX(-50%);
          white-space: nowrap;
          position: absolute;
          font-size: 3vw;
          color: white;
          width: 35vw;
          height: 12vw;
          border: 1px solid white;
          background-color: a.$ourGrey;
          z-index: 1;
          @include b.x-large{
            top: 75%;
            font-size: 1.5rem;
            width: 275px;
            height: 75px;
            
  
          }
      }

      
    }

    &__overlay{
      background-color: black;
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: .3;
      
      @include b.x-large{
        opacity: .3;
      }
      
    }

}

 .prodtitle{   
  color: a.$ourGrey;
  margin-top: 60px;
  font-size: 4vw;
  flex: 0 0 100%;
  @include b.x-large{
    font-size: 3rem;
    margin-top: 110px;
  }
}



.sectionprod{
    padding-top: 7vw;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    width: 100%;
    justify-content: center;
    font-size:  5vw;

    @include b.x-large{
      gap: 40px;
      flex-wrap: nowrap;
      padding-top: 130px;
    }

    &__ring{
      height: 50vw;
      width: 40vw;
      border: 1px solid black;
      background-size: cover;
      background-position: 50%;
      border: 1px solid a.$ourGrey;
      display: flex;
      justify-content: center;
      box-shadow: a.$boxshadow;
      border-radius: 3%;
      border: 0px;

      @include b.x-large {
        height: 350px;
        width: 250px; 
        border: 0px;
        border-radius: 3%;
        background-size: 90%;
        background-repeat: no-repeat;
      } 

      h4{
        position: absolute;
        margin-top: 4%;
        font-size: 3vw;
        color: a.$ourGrey;
        //font-family: Helvetica Neue;
        @include b.x-large{
          margin-top: 45px;
          font-size: medium;
        }
      }

    button{  
      background-color: white;
      border: 1px solid a.$ourGrey;
      color: a.$ourGrey;

      padding: 1rem;
      width: 29vw;
      padding: 2vw;
      font-size: 3vw;
      height: 8vw;
      top: 75%;
      position: relative;

      @include b.x-large{
        font-size: 1rem;
        width: 70%;
        padding: 10px;
        height: 15%;
      }

      }

    }

      div[alt*="halo"] {
        background-image: a.$haloRing;
      }
      
      div[alt*="sido"] {
        background-image: a.$sidoRing;
      }

      div[alt*="soli"] {
        background-image: a.$soliRing;
      }

      div[alt*="tre"] {
        background-image: a.$treRing;
      }

}



.diamonds{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
  align-items: center;
  gap: 15px;
  @include b.x-large{
    align-items: baseline;
    flex-direction: row;
  }

  &__choose{
    background-color: white;
  box-shadow: v.$boxshadow;
  height: 100vw;
  width: 82.5vw;
  background-size: cover;
  background-position: 50%;
  border-radius: 3%;
  @include b.x-large{
    width: 550px;
    height: 500px;
    
  }

  button{  
    background-color: white;
    border: 1px solid a.$ourGrey;
    color: a.$ourGrey;

    width: 40vw;
    padding: 2vw;
    font-size: 3vw;
    height: 12vw;
    top: 70%;
    position: relative;
    white-space: nowrap;

    @include b.x-large{
      font-size: 1rem;
      width: 60%;
      padding: 10px;
      height: 15%;
    }

    }

  }
  
  div[alt*="NatDiamond"] {
    background-image: a.$natDiamond;
  }

  div[alt*="LabDiamond"] {
    background-image: a.$labDiamond;
  }
}

.tips{
  display: flex;
  background-color: aquamarine;
  background-image: v.$tips;
  background-size: cover;
  background-position: 50%;
  height: 120vw;
  width: 100%;
  margin-top: 15%;
  flex-direction: column;
  align-items: center;

  @include b.x-large{
    width: 1140px;
    height: 500px;
    margin-top: 165px;

  }

  

  h2{
    color:white;
    margin-top: 30vw;
    font-size: 5.5vw;
    z-index: 1;

    @include b.x-large{
      margin-top: 130px;
      font-size: 30px;
    }
  }

  h4{
    color:white;
    font-size: 2.7vw;
    margin: 8vw;
    margin-top: 19vw;
    border-radius: 3%; 
    z-index: 1;
  

    @include b.x-large{
      margin-top: 35px;
      font-size: 25px;
      margin: 40px;
      margin-left: 100px;
      margin-right: 100px;
      margin-bottom: -30px;
      overflow: hidden;


    }

  }

  button{  
    background-color: white;
    border: 1px solid a.$ourGrey;
    color: a.$ourGrey;

    width: 40vw;
    padding: 3vw;
    font-size: 4vw;
    //height: 8vw;
    top: 15%;
    position: relative;
    z-index: 1;

    @include b.x-large{
      font-size: 1rem;
      width: 180px;
      padding: 5px;
      height: 55px;
    }


}

&__overlay{
  background-color: black;
  height: 120vw;
  width: 100%;
  position: absolute;
  opacity: .4;

  @include b.x-large{
    width: 1140px;
    height: 500px;
    
  }
  
}

}



.mainContainer{
  @include b.x-large{ 
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: column;
}
}