@use '../abstract' as a;
@use '../base' as b;

.subheader {
    position: relative;
    width: 100vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/Startsidan/header 7.jpg');
    background-size: cover;

    &__title {
        margin-top: 60px;
        width: 80%; 
        color: a.$white-color;
        font-size: 48px;
        z-index: 1;
        
    }
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
}

// .history{
//     &__container{
//         max-width: 400px;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         margin: 1rem auto;
//         gap: 20px;
//     }

//     &__content{
//         text-align: center;
//     }

//     &__img{
//         background-image: url(/src/assets/Om/2022-lycka-juveler-verkstad-min.jpeg);
//         background-position: center;
//         background-size: cover;
//         max-width: 450px;
//         height: 300px;
//     }
// }

.history{

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem auto;
        gap: 50px;

        @include b.x-large{
           max-width: 1100px;
        }
    }

    &__story{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 15px;
        margin-bottom: 15px;

        @include b.x-large{
            
        }
    }
    

    &__img{
        background-image: url(/src/assets/Om/2022-lycka-juveler-verkstad-min.jpeg);
        background-position: center;
        background-size: cover;
        max-width: 500px;
        height: 300px;
    }

    &__pic{
        background-image: url(/src/assets/Om/pexels-tima-miroshnichenko-6263111.jpg);
        background-position: center;
        background-size: cover;
        max-width: 500px;
        height: 300px;
    }
}