@use '../abstract' as a;
@use '../base' as b;

.subheader {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: a.$image-bg-color, url(/src/assets/Om/pexels-photo-6263109.jpeg);
    background-size: cover;
    background-position: center;

    &__title {
        margin-top: 60px;
        width: 80%; 
        color: a.$white-color;
        font-size: 48px;
        z-index: 1;
    }
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.about{
    margin-top: 50px;
    margin-bottom: 50px;
}

.history{
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 15px;
    padding: 2px;

    @include b.x-large{
        flex-direction: row;
        gap: 100px;
    }
    
    &__text{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 15px;

        h3{
            font-size: 25px;
        }

        @include b.x-large{
            text-align: start;
        }
    }
    .img{
        background-image: url(/src/assets/Om/2022-lycka-juveler-verkstad-min.jpeg);
        background-position: center;
        background-size: cover;
        width: 500px;
        height: 350px;
        display: flex;
        margin: 0 auto;
    }
}

.story{
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 15px;
    margin-top: 50px;
    justify-content: center;

    @include b.x-large{
        flex-direction: row-reverse;
        width: 1100px;
        gap: 100px;
        
    }
    
    &__text{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 15px;

        h3{
            font-size: 25px;
        }

        @include b.x-large{
            text-align: start;
        }
    }
    .img{
        background-image: url(/src/assets/Om/pexels-tima-miroshnichenko-6263111.jpg);
        background-position: center;
        background-size: cover;
        width: 500px;
        height: 350px;
        display: flex;
        margin: 0 auto;

        @include b.x-large{
            height: 600px;
        }
    }
}