@use '../abstract' as a;
@use '../base' as b;

.subheader {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: a.$image-bg-color, url(/src/assets/Om/Juvelare.jpeg);
    background-size: cover;
    background-position: center;

    &__title {
        margin-top: 60px;
        width: 80%; 
        color: a.$white-color;
        font-size: 48px;
        z-index: 1;
    }
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.sthlm{
    width: 100%;
    height: 350px;
    background-image: a.$image-bg-color, url(/src/assets/Startsidan/Stockholm.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
    color: white;

    &__icons{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    &__container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 15px;
    }

    &__title{
     
      font-size: 30px;
    }
}