@use '../base/mixins' as m;
@use '../abstract' as a;
@use '../base/buttons' as btn;
@use '../base' as b;

.stores{
    &__container{
        display: flex;
        justify-content: center;
        // margin: 2rem;
        gap: 10px;
        color: a.$white-color;
        width: 80%;
        margin: 2rem auto;

        @include b.x-large{
            gap: 40px;
        }
    }

    &__stockholm{
        background-image: a.$image-bg-color, url(/src/assets/Startsidan/Stockholm.jpeg);
        @include m.store-image;

        @include b.x-large{
            width: 100%;
            height: 400px;
        }
    }
    &__malmo{
        background-image: a.$image-bg-color, url(/src/assets/Startsidan/Malmö.jpeg);
        @include m.store-image;

        @include b.x-large{
            width: 100%;
            height: 400px;
        }
    }
    a{
        text-decoration: none;
    }
    
   &__btn{
    @include btn.clear-btn;

    @include b.x-large{
        font-size: 20px;
        width: 200px;
        padding: 1em;
    }
   }

   &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
   }

   &__title{
    font-size: 15px;

    @include b.x-large{
        font-size: 30px;
    }
   }

}