@use '../abstract' as a;
@use '../base' as b;

.subheader{
    width: 100vw;
    height: 400px;

    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

}


.image-overlay{

}

