$white-color: #fff;

$text-color: #212427;

$ourGrey: #707070;

$lightGrey: #e0e0e0;

$btn-clear-color: rgba(61, 61, 61, 0.17);

$gold-btn-rgba: rgba(205, 178, 119, 1);

$gold-light-rgba: rgba(205, 178, 119, 0.8);

$desc-container-color: #E0E0E0;
