$primary-color: #D9B5A0;
$secondary-color: #F0F1F2; 
$accent-color: #A65851;

$white-color: #fff;

$text-color: #212427;

$ourGrey: #707070;

$btn-clear-color: rgba(61, 61, 61, 0.17);

$border-1px: 1px solid black;

$gold-btn-rgba: rgba(205, 178, 119, 1);

$gold-light-rgba: rgba(205, 178, 119, 0.8);