/**   Navigation **/
$menu-width: 300px;
$navbar-height: 80px;

//shadow
$boxshadow: 0px 0px 10px #bbbbbb;

//images
$headerIMG: url(../assets/Startsidan/header\ 9.jpg);
$headerIMGdesktop: url(../assets/Startsidan/header\ 2.jpg);
$haloRing: url(../assets/Startsidan/HALO.jpeg);
$sidoRing: url(../assets/Startsidan/SIDOSTEN.jpeg);
$soliRing: url(../assets/Startsidan/SOLITÄR.jpeg);
$treRing: url(../assets/Startsidan/TRESTEN.jpeg);
$natDiamond: url(../assets/Startsidan/natur.jpeg);
$labDiamond: url(../assets/Startsidan/lab.jpeg);
$tips: url(../assets/Startsidan/header\ 5.jpg);
