
@use 'variables' as v;
@use "mixins" as m;

Body{
    margin: 0px;
}

.header{
    width: 100%;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &__nav{
        height: 55px;
        box-shadow: v.$boxshadow;
        z-index: 2;
        background-color: white;
        @include m.desktop{
          height:80px;
          position: sticky;
          
        }
    }

    &__img{
        height: 130vw;
        background-image: v.$headerIMG;
        background-size: cover;
        background-position: 50%;
        color: white;

        h1{
          visibility: hidden;
        }

        h3{
          visibility: hidden;
        }

        @include m.desktop{
            background-image: v.$headerIMGdesktop;
            height: 900px;
            position: relative; 
            
            display: flex;
            //justify-content: cente
            h1{
              z-index: 1;
              visibility: visible;
            }

            h3{
              z-index: 1;
              visibility: visible;
            }

            p {
              margin-top:5px;
              margin-bottom:5px;
              z-index: 1;
           }
        }
    }

    &__btn{
        @include m.btn;
        margin-top: 50%;
        margin-left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        font-size: 3vw;
        color: white;
        width: 35vw;
        height: 12vw;
        border: 1px solid white;
        background-color: v.$ourGrey;
        z-index: 1;
        @include m.desktop{
          top: 10%;
          position: relative;
          top: 10px;

        }
    }

    &__overlay{
      background-color: black;
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: .6;
      visibility: hidden;
      @include m.desktop{
        visibility: visible;
      }
      
    }

}

.sectionprod{
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    width: 100%;
    justify-content: center;
    @include m.desktop{
      gap: 15px;
    }

    &__ring{
        height: 50vw;
        width: 40vw;
        border: 1px solid black;
        background-size: cover;
        background-position: 50%;
        border: 1px solid v.$ourGrey;
        @include m.desktop {
          height: 300px;
          width: 200px; 
        }

&__btn{
      
        background-color: white;
        border: 1px solid v.$ourGrey;
        color: v.$ourGrey;
        position: absolute;
        @include m.btn; 
        width: 25vw;
        padding: 2vw;
        font-size: 3vw;
        height: 10px;
        @include m.desktop{
          font-size: 1rem;
          width: 20px;
          top: 50px;
          padding: 10px;
        }
    }

    }

      div[alt*="halo"] {
        background-image: v.$haloRing;
      }
      
      div[alt*="sido"] {
        background-image: v.$sidoRing;
      }

      div[alt*="soli"] {
        background-image: v.$soliRing;
      }

      div[alt*="tre"] {
        background-image: v.$treRing;
      }

    
    
}

