
@use 'variables' as v;
@use "mixins" as m;

Body{
    margin: 0px;
}

.header{
    width: 100%;
    background-color: white;
    display:flex;
    flex-direction: column;

    &__nav{
        height:55px;
        box-shadow: v.$boxshadow;
        z-index: 1;
    }

    &__img{
        height: 569px;
        background-image: v.$headerIMG;
        background-size: cover;
        background-position: 50%;
    }

   // @import m.darkbtn{
    
  //  }
}

