
@use 'variables' as v;
@use "mixins" as m;

Body{
    margin: 0px;
}

#MainDiv {
    display: flex;
    flex-direction: column;
    //align-items: center;
}

Header {
    width: 100%;
    height: 55px;
    box-shadow: v.$boxshadow;
    z-index: 1;
}

#HeaderImg {
width: 100%;
height: 569px;
background-size: cover;
background-position: 30%;
background-image: v.$headerIMG;
}

#HeaderBtn{
    background-color: v.$ourGrey;
    border: 1px white;
    
    margin: auto;
}